.bg-default-image {
    background-image: url("/images/pic.jpg");
    background-size: 100%;
    height: 150px;
    text-shadow: 2px 2px 8px rgb(41, 3, 3);
    color: burlywood;
}

.logo {
    text-shadow: 2px 2px brown;
}

.active {
    background-color: navy;
}

.pointer {
    cursor: pointer;
}
